body {
	
	margin: auto;
	padding: 0px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #000000;
	background-color: #9c9c9c !important;
	font-size: 80%;
}
h1 {
	font-family: 'Oswald';
	float: center !important;
}
hr {
	background: #ccc;
	height: 1px;/*line under chats*/
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px;
	border: 1px #ccc;
}
input {
	display: block;
	color: #9A9AA1;
  	font-size: 110%;
  	font-family: 'Open Sans';
  	margin-bottom: 20px;
  	border: 1px solid #ccc;/*input box on top*/
	border-radius: 3px;
	padding: 7px;
	outline: none;
}
#conversation {
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}
#user_list {
	background-color: #afafaf !important;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
	border-radius: 3px;
}

.name {
	font-weight: bold;
	margin-bottom: 0px;
	color: #23FF00;
}
.message {
	margin-top: 1px;
}
.he {
	color: #4F4F4F;
}
.my_chats {
	color: #FFFFFF;
}
.timeStamp {
	color: #FFFFFF;
	font-weight: normal;
	
}
.user {
	color: #FFFFFF;
	float: right;
	font-size: 70%;
	line-height: 3em;
}
.new_user {
	color: #00FF9B;
}
.user-left {
	color: #aa0008;
}
.user_list {
	color: #2176ff;
	font-size: 100%;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 5px;
	padding: 0px;
}
.hr-messaging {
	background: #ccc;
	height: 1px;/*line under chats*/
	margin-top: 0em !important;
	margin-bottom: 0em !important;
	padding: 0px;
	border: 1px #ccc;
}
.date {
	float: right;
}